// Media Pricing

@media screen and (min-width: $smallWidth) {
  .pricing {
    background-image: url("../img/bg-pricing-medium.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-top: 10vw;
    padding-bottom: 10vw;

    &__header {
      font-size: 5.5vw;
      line-height: 5.6vw;
      margin-bottom: 0;
    }

    &-list {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0 8.5vw;

      &-cell {
        width: calc(100% / 2);
        height: 72vw;
        padding: 6vw 2.5vw;

        &--active {
          height: 72vw;
          padding: 0;
        }
      }

      &-item {

        &__name {
          font-size: 3.2vw;
          padding: 4.7vw 0;
          margin-bottom: 3vw;

          &--active {
            font-size: 3.5vw;
            padding: 5.8vw 0;
            margin-bottom: 2vw;
          }
        }

        &__price {
          font-size: 8vw;
          margin-bottom: 3vw;

          &--active {
            font-size: 10.7vw;
          }
        }

        &__term {
          font-size: 1.9vw;
          margin-bottom: 5vw;
        }

        &__sep {
          margin-bottom: 3vw;
        }

        &__licence {
          font-size: 2.1vw;
          line-height: 4vw;
        }

        &__purchase {
          font-size: 2vw;
          padding: 2vw;
          margin-bottom: 4vw;

          &--active {
            padding: 2vw;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $mediumWidth) {
  .pricing {
    background-image: url("../img/bg-pricing-big.png");
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 90px;

    &__header {
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 56px;
    }

    &-list {
      padding: 0;

      &-cell {
        width: calc(100% / 4 - 1%);
        height: 560px;
        padding: 48px 8px;

        &--active {
          width: calc(100% / 4 + 3%);
          padding: 0 8px;
        }
      }

      &-item {

        &__name {
          font-size: 24px;
          padding: 40px 0;
          margin-bottom: 30px;

          &--active {
            padding: 44px 0;
            margin-bottom: 2vw;
          }
        }

        &__price {
          font-size: 60px;
          margin-bottom: 20px;

          &--active {
            font-size: 82px;
          }
        }

        &__term {
          font-size: 14px;
          margin-bottom: 36px;
        }

        &__sep {
          margin-bottom: 28px;
        }

        &__licence {
          font-size: 16px;
          line-height: 32px;
        }

        &__purchase {
          font-size: 15px;
          padding: 12px;
          margin-bottom: 36px;

          &--active {
            padding: 12px;
          }
        }
      }
    }
  }
}
