// Media Overview

@media screen and (min-width: $smallWidth) {
  .overview {
    padding-top: 16vw;
    padding-bottom: 12vw;

    &__title {
      font-size: 5.4vw;
      line-height: 12vw;
    }

    &__subtitle {
      font-size: 2.8vw;
      line-height: 3.7vw;
      margin-bottom: 4vw;
    }
  }
}


@media screen and (min-width: $mediumWidth) {
  .overview {
    padding-top: 8vw;
    padding-bottom: 5vw;

    &__title {
      font-size: 54px;
      line-height: 128px;
    }

    &__subtitle {
      font-size: 21px;
      line-height: 32px;
      padding: 0 10%;
      margin-bottom: 44px;
    }
  }
}