// Font
$montserratFont         : 'Montserrat', sans-serif;
$latoFont               : 'Lato', sans-serif;

// Width
$smallWidth             : 481px;
$mediumWidth            : 993px;
$largeWidth             : 1200px;

// Main Colors
$colorViolet            : #8D81AC;
$colorDarkViolet        : #635c73;
$colorGrey              : #27262a;
$colorDarkGrey          : #323232;
$colorLightGrey         : #848E97;
$colorFog               : #f4f4f4;
$bgColor-Pricing        : #4B3B4E;

// Body style
body {
  font-family: $montserratFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after { box-sizing: border-box; }

a { text-decoration: none; }

// Global setting for .container{}
.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

@media screen and (min-width: $smallWidth) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: $mediumWidth) {
  .container {

  }
}

@media screen and (min-width: $largeWidth) {
  .container {
    padding-left: 90px;
    padding-right: 90px;
    width: 1200px;
    margin: 0 auto;
  }
}