// Section Header

// Navbar style

.navbar {
  padding: 0 16px;
  width: 100%;
  height: 103px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $colorGrey;
  position: relative;
  &__logotype {
    display: flex;
    align-items: center;
    &--img {
      width: 43px;
      height: 41px;
      background: url("../img/logo-dark.png");
      &:hover {
      }
    }
    &--name {
      display: none;
    }
    &:hover {
      .navbar__logotype {
        &--img {
          width: 43px;
          height: 41px;
          background: url("../img/logo-light.png");
        }
        &--name {
          color: #ffffff;
        }
      }
    }
  }

  &__menu {
    display: none;
    width: 90vw;
    position: absolute;
    top: 103px;
    left: 5vw;
    opacity: 0;
    z-index: 1;
    transition: all 0.5s ease;
    &--item {
      padding-left: 33px;
      width: 100%;
      height: 87px;
      font-size: 26px;
      font-family: $montserratFont;
      background-color: #333333;
      list-style: none;
      line-height: 87px;
      border-bottom: 2px solid #3b3b3b;
      position: relative;
      & a {
        color: #ffffff;
      }
      &:hover {
        color: $colorViolet;
      }
      &:hover::before {
        content: '';
        width: 8px;
        height: 54px;
        background-color: $colorViolet;
        position: absolute;
        left: 0;
        top: calc(50% - 27px);
      }
    }
  }

  &__btn {
    padding: 12px 24px;
    font-size: 15px;
    font-family: $montserratFont;
    font-weight: 700;
    text-align: center;
    border-radius: 18.5px;
    background-color: $colorViolet;
    color: #ffffff;
  }
}


.burger {
  width: 26px;
  height: 21px;
  position: relative;
  &:hover {
    .burger__line {
      transition: all 0.3s ease;
      &--top {
        display: none;
      }
      &--center {
        transform: rotate(45deg);
        top: 10px;
      }
      &--bottom {
        transform: rotate(-45deg);
        top: 10px;
      }
    }
  }
  &__line {
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
    background-color: #fff;
    &--top {
      width: 20px;
      top: 0;
    }
    &--center {
      top: calc(50% - 1px);
    }
    &--bottom {
      bottom: 0;
    }
  }
}

// Main header style

.header {
  &__main {
    padding-top: 43px;
    width: 100%;
    height: 614px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/bg-laptop-small.png") 50% no-repeat;
    background-size: cover;
    position: relative;
  }
  &__title {
    margin-bottom: 20px;
    font-size: 48px;
    font-family: $montserratFont;
    font-weight: 700;
    color: #ffffff;
  }
  &__subtitle {
    width: 80vw;
    font-size: 18px;
    font-family: $montserratFont;
    color: $colorViolet;
    line-height: 34px;
    text-align: center;
    & span {
      font-size: 14px;
      text-transform: uppercase;
      color: $colorLightGrey;
    }
  }
  &__download {
    position: absolute;
    bottom: -50px;
    &--btn {
      display: block;
      margin-bottom: 13px;
      padding: 15px 31px;
      font-size: 18px;
      font-family: $montserratFont;
      font-weight: 700;
      text-align: center;
      border-radius: 25px;
      background-color: $colorViolet;
      color: #ffffff;
      outline: none;
      cursor: pointer;
    }
    &--desc {
      font-size: 14px;
      font-family: $montserratFont;
      color: $colorLightGrey;
      text-align: center;
    }
  }
}