// Section Pricing

.pricing {
  color: white;
  background-color: $bgColor-Pricing;
  padding-top: 15vw;
  padding-bottom: 15vw;

  &__header {
    font-size: 9vw;
    font-weight: 700;
    line-height: 14vw;
    margin-bottom: 13vw;
  }

  &-list {
    display: flex;
    flex-direction: column;

    &-cell {
      height: 146vw;
      padding: 1.5vw 3vw;

      &--active {
        height: 174.5vw;
        padding: 1.5vw 0;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      background-color: rgba(255,255,255,.1);

      &--active {
        background-color: rgba(0,0,0,.1);
      }

      &__wrapper {
        height: 100%;
      }

      &__name {
        font-size: 7.5vw;
        width: 100%;
        padding: 12vw 0;
        background-color: rgba(255,255,255,.1);
        margin-bottom: 9vw;

        &--active {
          font-size: 7.7vw;
          padding: 14vw 0;
          background-color: rgba(0,0,0,.12);
        }
      }

      &__price {
        font-size: 19vw;
        margin-bottom: 7vw;

        &--active {
          font-size: 25.7vw;
        }
      }

      &__term {
        font-size: 4.4vw;
        color: rgba(255,255,255,.4);
        margin-bottom: 10vw;
      }

      &__sep {
        display: inline-block;
        background-color:  $colorViolet;
        width: 65px;
        height: 5px;
        margin-bottom: 5vw;
      }

      &__licence {
        font-size: 5vw;
        line-height: 9vw;
      }

      &__purchase {
        color: white;
        font-size: 5vw;
        width: 65%;
        border-radius: 10vw;
        padding: 5vw;
        margin-bottom: 12vw;
        background-color: rgba(255,255,255,.1);

        &--active {
          width: 68%;
          padding: 6vw;
          background-color: rgba(255,255,255,.1);
        }
      }
    }
  }

  &-list b {
    font-weight: 700;
  }
}